* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    background: yellow;
    width: 1190px;
    height: 100px;
    margin: 0px 123.5px;
    padding: 0px 30px
}

.logo {
    float: left;
    background: rosybrown;
    position: absolute;
    top: 30px;
    left: 180px;
}

.utils_area {
    float: right;
    background: sandybrown;
    line-height: 30px;
}

.search_area {
    float: left;
    background: skyblue;
    position: absolute;
    top: 50px;
    left: 40%;
}

.utils_area ul {
    height: 30px;
}

.utils_area ul li{
    float: left;
    padding-left: 10px;
}

.gnb_area {
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.nav_wrap {
    background: lightpink;
    width: 1190px;
    height: 52px;
    margin: 0px 123.5px;
    padding: 0px 30px;
    line-height: 50px;
   
}




.nav {
    background: aquamarine;
    height: 100%;
    float: left;
}

nav ul {
    height: 30px;
    float: left;
}

.nav>ul>li {
    float: left;
    padding: 0px 20px;
    position: relative;
}

.nav li .sub {
    position: absolute;
    top: 50px;
    left: 0;
    background: white;
    width: 90px;
    height: 300px;
    display: none;
}

.nav>ul>li:hover .sub {
    display: block;
}

.weather {
    background: lightsalmon;
    height: 100%;
}

.weather ul {
    float: right;
}

.weather ul li {
    float: left;
    padding: 0px 20px;
}


.contents_wrap {
    background: lightgray;
    width: 1190px;
    height: 730px;
    padding: 20px 30px;
    margin: 0px 123.5px;
}

.main_contents_area {
    background: honeydew;
    width: 750px;
    height: 100%;
    float: left;
}



.main_banner img {
    width: 100%;
    height: 100%;
    float: left;
}

.newsstand_area {
    height: 230px;
    background: rgb(182, 101, 240);
    float: left;
  
}
.sum_news {
    background: indianred;
    padding: 5px 10px;

}
.newsstand_area ul{
    float: left;
    padding-top: 5px;
}

.newsstand_area ul li {
    float: left;
    width: 124.61px;
    padding: 30px 0px;
    border: 1px solid gray
}

.newsstand_area ul li img {
    width: 100%;
    height: 20px;
}

.today_article {
    background: lightblue;
    width: 750px;
    height: 345px;
    float: left;
}

.topic {
    background: lightseagreen;
}

.point {
    width: 364px;
    float: left;
}


.point img {
    height: 180px;
}

.sub {
    width: 364px;
    float: right;
}

.sub img {
    width: 98px;
    height: 98px;
    float: left;
}

.side_contents_area {
    width: 350px;
    height: 180px;
    float: right;
}

.login {
    width: 350px;
    height: 135px;
    padding: 16px 16px 12px 17px;
    background: lightyellow;
}

.login h2 {
    text-align: center;
}

.login_bottom {
    margin: 5px 10px;
    background: sandybrown;
    height: 30px;
}
.login p {
    text-align: center;
    float: left;
}

.login_bottom .bottom_a {
    float: left;
}

.login_bottom .bottom_b {
    float: right;
}

.footer {
    clear: both;
}

.economy {
    background: seagreen;
    width: 350px;
    height: 47px;
}

.shopping_area {
    background: skyblue;

}

.trend_shopping {
    background: slateblue;
    height: 50px;
}

.shop_header {
    height: 30px;
}

.shop_header ul {
    float: left;
    margin: 5px 10px;
}

.shop_header ul li {
    float: left;
    padding-right: 10px;
}

.shop_contents {
    background: cornsilk;


}
.shop_contents .table {
    float: left;
    margin-right: 5px;
}

/*
.shop_contents .a {
    margin-left: 6.5px;
}*/

.shop_contents img {
    width: 107.31px;
    height: 146px;
}

.footer{
    background: yellow;
    width: 1190px;
    height: 300px;
    margin: 0px 123.5px;
    padding: 0px 30px
}

.f_banner_area {

}

.box {
    float: left;
    padding: 24px 0px;
}

.box img {
    width: 160px;
    height: 86px;
    float: left;
    padding-left: 10px;
}

.smallbox {
    width: 190px;
    height: 86px;
    float: left;
    margin-left: 25px;
}

.f_notice_area a {
    background: greenyellow;
}


.f_aside_area {
    background: lightblue;
    height: 80px;
}

.partner_box dl {
    clear: both;
}

.partner_box dt {
    float: left;
    width: 87px;
    height: 16px;
}

.partner_box ul {
    float: left;
}

.partner_box ul li {
    float: left;
    padding-right: 20px;
}

.f_corp_area {
     background: lightcoral;
     height: 20px;
}

.f_corp_area ul li {
    float: left;
    padding-right: 20px;
}
